@import "reset.css";

div, section ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-weight: lighter;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main_part {
    background-image: url("../img/back.jpeg");
    background-size: cover;
    height: 100%;
}

.top_line {
    height: 6px;
    width: auto;
    background-color: #76c38f;
}

.block_slider_content, .block_main_content {
    width: 70%;
    margin: 0 auto;
}

.block_main_content {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.opacity {
    height: 600px;
    width: 100%;
    position: absolute;
    content: "";
    opacity: 0.5;
    background-color: black;
}

.block_slider {
    height: 600px;
    width: auto;
    position: relative;
}

.block_main {
    height: 967px; /* min height */
    width: auto;
}

.logo {
    width: 32%;
    float: left;
}

.slider {
    margin-top: 30px;
}

.btn {
    background-color: #76c38f;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #76c38f;
    transition: .3s;
    cursor: pointer;
}
.btn:hover {
    transform: scale(.9);
}

.block_items {
    display: inline-flex;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    margin: 12px;
    width: 225px;
    height: 305px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    background-color: #76c38f;
    color: #ffffff;
}

.item:hover .item_image{
    background-color: white;
}




.item h1 {
    font-size: 32px;
}

.item p {
    font-size: 12px;
    width: 63%;
    margin: 0 auto;
}

.item_image {
    background-color: grey;
    width: 120px;
    height: 120px;
    margin: 20px auto;
}

fieldset {
    border-top: solid 3px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

legend {
    background-color: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 32px;
    width: 25%;
    padding: 10px;
    margin: 0 auto;
}

.work_block_item {
    background-color: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 32px;
    width: 25%;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
}

.blocks {
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    background-color: grey;
    border: 5px solid white;
    width: 290px;
    height: 190px;
    margin-bottom: 30px;
    cursor: pointer;
}

.notice {
    margin-top: 155px;
    background-color: black;
    opacity: 0.9;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.block:hover {
    border-color: #76c38f;
}

.block:hover .notice{
    display: none;
}

.block_last {
    width: 100%;
    /*height: 100px;*/
    background-color: #303030;

    /*height: 967px; !* min height *!*/
    /*width: auto;*/
}

.block_last_content {
    width: 70%;
    margin: 0 auto;
    /*display: inline;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
}

.blocks_last_items {
    display: inline-flex;
    margin: 50px auto;
    font-size: 13px;
    line-height: 1.5em;
}

.block_last h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.block_last p {
    width: 25%;
}

.text_block_item {
    margin-top: 12px;
}

.block_last_item {
    width: 25%;
    color: #979797;
}

.color_blue {
    color: #76c38f;
}

.space {
    margin-right: 4%;
}

.little_font {
    font-size: 11px;
}

.margin_height {
    margin-bottom: 8px;
}

.domain_name {
    color: #666666;
}

.line_height {
    line-height: 2.4em;
}

.rm_item {
    font-size: 13px;
}

.links hr {
    border: solid 1px #404040;
}

.links a:nth-child(3n-1){
    color: #76c38f;
}

.links a {
    cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #989898;
}

textarea {
    padding-top: 7px;
    width: 210px;
    min-height: 78px;
}

input[type="text"] {
    width: 210px;
    height: 34px;
}

input[type="text"], textarea {
    padding-left: 10px;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 5px;
    color: #989898;
    font-family: Georgia, serif;
    margin-bottom: 10px;
    outline: none;
}

.submit_btn {
    background-color: #76c38f;
    color: #303030;
    border: 1px solid #76c38f;
    border-radius: 9px;
    font-size: 12px;
    padding: 8px 13px;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}
.submit_btn:hover {
    transform: scale(.9);
}

.first_hr {
    width: auto;
    height: 1px;
    background-color: #000000;
}

.second_hr {
    width: auto;
    height: 1px;
    background-color: #3a3a3a;
}

.footer {
    background-color: #2b2b2b;
    height: 60px;
}

.footer_content {
    width: 70%;
    margin: 0 auto;
    color: #979797;
    font-size: 13px;
    font-weight: lighter;
}

.footer_content_items {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 2%;
}

@media screen and (max-width: 1423px) and (min-width: 1243px){
    .block_main {
        height: 1400px;
    }
}

@media screen and (max-width: 1243px) and (min-width: 843px){
    .block_main {
        height: 1600px;
    }
}

@media screen and (max-width: 843px) and (min-width: 726px){
    .block_main {
        height: 2300px;
    }
}

@media screen and (max-width: 726px) {
    .block_main {
        height: 2900px;
    }
}